In [3]:
SELECT TOP 5 * FROM Online_Retail

InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
540458,20702,PINK PADDED MOBILE,3,2011-01-07 12:28:00.000,4.25,12501,Germany
540543,20702,PINK PADDED MOBILE,4,2011-01-09 15:23:00.000,4.25,14395,United Kingdom
542241,20702,PINK PADDED MOBILE,1,2011-01-26 14:51:00.000,4.25,16409,United Kingdom
542782,20702,PINK PADDED MOBILE,6,2011-02-01 10:00:00.000,4.25,12712,Germany
543374,20702,PINK PADDED MOBILE,3,2011-02-07 15:05:00.000,4.25,16945,United Kingdom

In [5]:
SELECT TOP 2 SIGN(Quantity)
FROM Online_Retail

(No column name)
1
1

In [7]:
SELECT TOP 2 *
FROM Online_Retail
WHERE Quantity < 0

InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
NULL,20703,BLUE PADDED SOFT MOBILE,-3,2010-12-08 13:43:00.000,4.25,12712,Germany
NULL,20703,BLUE PADDED SOFT MOBILE,-1,2011-04-27 14:07:00.000,4.25,15005,United Kingdom

In [8]:
DELETE 
FROM Online_Retail
WHERE Quantity < 0

In [9]:
SELECT TOP 2 *
FROM Online_Retail
WHERE Quantity < 0

In [11]:
SELECT *
FROM Online_Retail
WHERE UnitPrice < 0

InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
NULL,NULL,Adjust bad debt,1,2011-08-12 14:51:00.000,-11062.06,NULL,United Kingdom
NULL,NULL,Adjust bad debt,1,2011-08-12 14:52:00.000,-11062.06,NULL,United Kingdom

In [12]:
DELETE 
FROM Online_Retail
WHERE UnitPrice < 0
GO

In [13]:
SELECT *
FROM Online_Retail
WHERE UnitPrice < 0
GO

In [20]:
SELECT TOP 2 * 
FROM Online_Retail
WHERE StockCode IS NULL

InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
567280,NULL,CHILDRENS CUTLERY POLKADOT PINK,72,2011-09-19 11:46:00.000,3.75,14646,Netherlands
567300,NULL,CHILDRENS CUTLERY POLKADOT PINK,4,2011-09-19 12:36:00.000,4.15,12724,France

In [21]:
SELECT * 
FROM Online_Retail
WHERE StockCode IS NOT NULL AND [Description] = '3 ROSE MORRIS BOXED CANDLES'

In [23]:
SELECT COUNT(*) 
FROM Online_Retail
WHERE [Description] IS NULL

(No column name)
592

In [24]:
DELETE 
FROM Online_Retail
WHERE [Description] IS NULL

In [25]:
SELECT * 
FROM Online_Retail
WHERE LEN([Description]) < 5

InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
539494,21479,?,752,2010-12-20 10:36:00.000,0,NULL,United Kingdom
566064,22355,test,1,2011-09-08 15:53:00.000,0,NULL,United Kingdom
561665,22171,?,142,2011-07-28 16:55:00.000,0,NULL,United Kingdom
560565,82583,FBA,160,2011-07-19 13:44:00.000,0,NULL,United Kingdom
566574,22823,test,22,2011-09-13 13:14:00.000,0,NULL,United Kingdom
556231,NULL,?,4000,2011-06-09 15:04:00.000,0,NULL,United Kingdom
546139,84988,?,3000,2011-03-09 16:35:00.000,0,NULL,United Kingdom
572920,NULL,?,117,2011-10-26 16:52:00.000,0,NULL,United Kingdom
565288,23135,?,101,2011-09-02 11:43:00.000,0,NULL,United Kingdom

In [26]:
DELETE 
FROM Online_Retail
WHERE [Description] = '?'

In [2]:
SELECT * 
FROM Online_Retail
WHERE LEN([Description]) < 5

InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
566064,22355,test,1,2011-09-08 15:53:00.000,0,NULL,United Kingdom
560565,82583,FBA,160,2011-07-19 13:44:00.000,0,NULL,United Kingdom
566574,22823,test,22,2011-09-13 13:14:00.000,0,NULL,United Kingdom

In [29]:
SELECT TOP 2 *, (Quantity * UnitPrice) AS Sales
FROM Online_Retail

InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Sales
540458,20702,PINK PADDED MOBILE,3,2011-01-07 12:28:00.000,4.25,12501,Germany,12.75
540543,20702,PINK PADDED MOBILE,4,2011-01-09 15:23:00.000,4.25,14395,United Kingdom,17

In [2]:
SELECT COUNT(*) 
FROM Online_Retail
WHERE CustomerID IS NULL 
GO

(No column name)
132761

In [4]:
SELECT DISTINCT MONTH(InvoiceDate)
FROM Online_Retail
WHERE YEAR(InvoiceDate) = 2010

(No column name)
12

In [10]:
SELECT TOP 5 *
FROM Online_Retail
WHERE YEAR(InvoiceDate) = 2010

InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
538566,20704,MR ROBOT SOFT TOY,1,2010-12-13 11:21:00.000,14.43,NULL,United Kingdom
538662,20704,MR ROBOT SOFT TOY,8,2010-12-13 15:44:00.000,1.95,15159,United Kingdom
538827,20704,MR ROBOT SOFT TOY,16,2010-12-14 12:59:00.000,1.95,14298,United Kingdom
538896,20704,MR ROBOT SOFT TOY,8,2010-12-15 09:09:00.000,1.95,16145,United Kingdom
539016,20704,MR ROBOT SOFT TOY,8,2010-12-15 13:49:00.000,1.95,13418,United Kingdom

In [15]:
alter table Online_Retail
Add sales float
GO

UPDATE Online_Retail
set sales = Quantity * UnitPrice

In [16]:
SELECT TOP 2 * 
FROM Online_Retail
GO

InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,sales
540458,20702,PINK PADDED MOBILE,3,2011-01-07 12:28:00.000,4.25,12501,Germany,12.75
540543,20702,PINK PADDED MOBILE,4,2011-01-09 15:23:00.000,4.25,14395,United Kingdom,17

In [17]:
SELECT SUM(sales)
FROM Online_Retail
WHERE YEAR(InvoiceDate) = 2010

(No column name)
823746.1399999578

In [22]:
SELECT MIN(DAY(InvoiceDate))
FROM Online_Retail
WHERE YEAR(InvoiceDate) = 2011 AND MONTH(InvoiceDate) = 12

(No column name)
1

In [23]:
SELECT SUM(sales)
FROM Online_Retail

(No column name)
10666684.54400847

In [1]:
SELECT DISTINCT Country
FROM Online_Retail
WHERE CustomerID = 14646

Country
Netherlands

In [ ]:
SELECT DISTINCT Country
FROM Online_Retail
WHERE CustomerID = 14646

In [2]:
SELECT DISTINCT Country
FROM Online_Retail
WHERE CustomerID = 18102

Country
United Kingdom

In [3]:
SELECT DISTINCT Country
FROM Online_Retail
WHERE CustomerID = 17450

Country
United Kingdom

In [13]:
SELECT distinct month(InvoiceDate) as months,SUM(sales) OVER(PARTITION BY MONTH(InvoiceDate)) as sales1
    ,SUM(Quantity) OVER( PARTITION BY MONTH(InvoiceDate)) as quantity1
FROM Online_Retail
WHERE CustomerID = 14646 and YEAR(InvoiceDate) =  2011
Order by months

months,sales1,quantity1
1,26476.680000000022,20300
2,22797.46,16274
3,21462.399999999994,14125
4,2976.5600000000004,1768
5,28408.14,19577
6,25288.98999999999,18663
7,26.02,10
8,40327.80999999996,29876
9,26750.69999999999,17164
10,39995.949999999975,26742
11,25375.410000000018,18320
12,11728.020000000002,7958

In [14]:
select distinct count(CustomerID)
FROM Online_Retail

(No column name)
397924

In [20]:
SELECT SUM(sales)
FROM Online_Retail
WHERE CustomerID != 14646

(No column name)
8631201.884005655